{% include 'layout.html' %}

<div class="container">
    <div class="card">
        <div class="card-header">
            Make a new habit
        </div>
        <div class="card-body">
            <form method="POST" onsubmit="return validateForm()">
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" name="title"
                           required>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control"rows="3" name="description"
                              required></textarea>
                </div>
                <div class="form-group">
                    <label>Priority</label>
                    <select class="form-control" name="priority">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Days of Week</label><br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="monday" name="days" value="0">
                        <label class="form-check-label" for="monday">Monday</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="tuesday" name="days" value="1">
                        <label class="form-check-label" for="tuesday">Tuesday</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="wednesday" name="days" value="2">
                        <label class="form-check-label" for="wednesday">Wednesday</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="thursday" name="days" value="3">
                        <label class="form-check-label" for="thursday">Thursday</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="friday" name="days" value="4">
                        <label class="form-check-label" for="friday">Friday</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="saturday" name="days" value="5">
                        <label class="form-check-label" for="saturday">Saturday</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="sunday" name="days" value="6">
                        <label class="form-check-label" for="sunday">Sunday</label>
                    </div>

                    <div id="validationMessage" style="color: red;"></div>
                </div>

                <button type="submit" class="btn btn-primary">Add new habit</button>
            </form>
        </div>
    </div>
</div>


<script>
     function validateForm() {
        var checkboxes = document.getElementsByName("days");
        var isChecked = false;
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                isChecked = true;
                break;
            }
        }
        if (!isChecked) {
            document.getElementById("validationMessage").innerText = "Please choose at least one day of the week.";
            return false; // Prevent form submission
        }
        return true; // Allow form submission
    }
</script>

